
.align-left
    align-self: flex-start

.align-right
  align-self: flex-end

.two-column
  column-count: 2
  column-gap: 2em

.three-column
  column-count: 3
  column-gap: 2em

picture
  position: relative

  & > footer
    position: absolute
    font-size: 6pt
    right: 0
    bottom: 0
    color: #222222
    background: #ffffff
    opacity: 0.5
    padding: 0 0.1rem

    a
      color: #222222
      text-decoration: none
