
.align-left
    align-self: flex-start

.align-right
    align-self: flex-end

.two-column
    column-count: 2
    column-gap: 2em

.three-column
    column-count: 3
    column-gap: 2em

picture
    position: relative

footer
    position: absolute
    font-size: 6pt
    right: 0
    bottom: 0
    color: #222222
    background: #ffffff
    opacity: 0.5
    padding: 0 0.1rem

    a
        color: #222222
        text-decoration: none

h1 small
    display: block
    line-height: 1.5

abbr, a[title]
    position: relative
    display: block;

    &:before
        display: block;
        content: attr(title)
        background: #fff
        color: #222
        position: absolute
        z-index: -1
        opacity: 0
        font-size: 50%
        top: 100%
        box-shadow: 2px 2px 5px #666
        padding: 0.2rem 0.3rem
        width: 100%

    &:hover:before
        opacity: 1
        z-index: 1
