doctype html
html
  head
    title bespoke-theme-halle-teaching
    meta(name='description', content='Theme for teaching at the Martin-Luther-University Halle-Wittenberg')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(charset='utf-8')

  body

    article.presenter

      section
        h1 bespoke-theme-halle-teaching
        h2 A Bespoke.js theme by <a href="https://github.com/scmmmh">Mark</a>
        h3 Testing
        p.big Big
        p Normal
        p.small Small
        aside.notes This is a lecturer note

      section
        h1.bullet Paragraph
        p.bullet In eu diam sed mi blandit pulvinar.

      section
        h1.bullet Unordered List
        ul
          li In eu diam sed mi blandit pulvinar.
          li Etiam hendrerit nunc ut tortor interdum faucibus.
          li Nulla eget nibh et enim sagittis dictum.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h1 Emphatic Slide

      section
        h1.bullet Enjoy <span class='bullet'>:)</span>

    footer
      h1 eHumanities - Quod est?
        small Einführung in die eHumanities

    script(src='build/build.js')
